<div class="center jumbotron">
<h1>Welcome to WeWatch!</h1>
	<%if !session[:user_id]%>
    <%= link_to "Sign Up Now", new_user_path, class: "btn btn-danger btn-lg btn-xlarge" %> 
	<%else%>
	<h1>Hello <%=User.find(session[:user_id]).name%>!</h1>
	<%end%>
</div>

<h2 align="center">Sign Up to Build Movie List</h2>

<div class="container">
	<div id="carousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active">
				<div class="row">
					<div class="item__element">
						<img src="https://www.movieartarena.com/imgs/bladerunner2049ff.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://images-na.ssl-images-amazon.com/images/I/61BlAIoqQUL.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://images-na.ssl-images-amazon.com/images/I/51poKKV63GL.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://akns-images.eonline.com/eol_images/Entire_Site/2018112/rs_634x939-181202195654-634.captain-marvel.12418.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://i.imgur.com/30fnWXb.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://cdn.pastemagazine.com/www/system/images/photo_albums/best-movie-posters-2016/large/moonlight-ver2-xlg.jpg" alt="Item element image" class="img-responsive">
					</div>
				</div>
			</div>

			<div class="item">
				<div class="row">
					<div class="item__element">
						<img src="https://cdn.cinematerial.com/p/297x/9ebaqxve/maze-runner-the-death-cure-movie-poster-md.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://static01.nyt.com/images/2017/09/24/arts/24movie-posters1/24movie-posters1-jumbo.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://m.media-amazon.com/images/M/MV5BMTU2NjA1ODgzMF5BMl5BanBnXkFtZTgwMTM2MTI4MjE@._V1_.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="http://www.indesignskills.com/wp-content/uploads/2014/12/Maleficent-poster.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://media0ch-a.akamaihd.net/98/56/d372652eff6d3145861c497c1b8ef1bc.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://img.auctiva.com/imgdata/1/9/8/3/0/8/8/webimg/931823302_o.jpg" alt="Item element image" class="img-responsive">
					</div>
				</div>
			</div>

			<div class="item">
				<div class="row">
					<div class="item__element">
						<img src="https://cdn.empireonline.com/jpg/70/0/0/1280/960/aspectfit/0/0/0/0/0/0/c/features/59e8d795405a5c6805947751/19%20Goodfellas.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://images-na.ssl-images-amazon.com/images/I/71zfxjVkzGL._SY679_.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://images.wolfgangsvault.com/the-lord-of-the-rings-the-definitive-movie-posters/book/m/ZZZ14649-BK.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://vignette.wikia.nocookie.net/moviedatabase/images/b/b9/Deadpool.jpg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://media.comicbook.com/2018/12/us-movie-poster-jordan-peele-2019-1149921.jpeg" alt="Item element image" class="img-responsive">
					</div>

					<div class="item__element">
						<img src="https://m.media-amazon.com/images/M/MV5BMTkwOTQ4OTg0OV5BMl5BanBnXkFtZTgwMzQyOTM0OTE@._V1_UX182_CR0,0,182,268_AL_.jpg" alt="Item element image" class="img-responsive">
					</div>
				</div>
			</div>
		</div>

		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
		</ol>

		<a role="button" href="#carousel" data-slide="prev" class="left carousel-control">
			<</a>
				<a role="button" href="#carousel" data-slide="next" class="right carousel-control">></a>
	</div>
</div>
